{% extends 'base.html.twig' %}


{% block title %}S'inscrire{% endblock %}

{% block body %}
    <h1>Inscrit-toi !</h1>
        <div class="form-register" id="register">
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="label-email mb-3">
                {{ form_row(registrationForm.name, {label: 'Pseudo:'}) }}
            </div>
            <div class="label-email mb-3">
                {{ form_row(registrationForm.email, {label: 'Email :'}) }}
            </div>
            <div class="label-password mb-3">
                {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe :'}) }}
            </div>
            {{ form_row(registrationForm.agreeTerms, {label: 'Acceptez nos conditions'}) }}

        <button type="submit" class="btn-register">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>
    

{% endblock %}
