{% extends 'base.html.twig' %}

{% block title %}
	Jour
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('styles/jour.css') }}">
	<h2 class="jours">Jours</h2>
	<section id="cards">
		{% for scene in scenes %}
			<div class="scene-n">
				<h3>Scene n°{{ scene.numero }}</h3>
				{% set scenePassages = [] %}
				{% for passage in passages %}
					{% if passage.scene.id == scene.id %}
						{% set scenePassages = scenePassages|merge([passage]) %}
					{% endif %}
				{% endfor %}
				{% if scenePassages is not empty %}
					{% for passage in scenePassages %}
						<div class="card">
							<img src="{{ asset('media/placeholder.jpg') }}" class="card-img-top" alt="placeholderForPassage">
							<div class="card-body">
								<h5 class="card-title">{{passage.performers.nom}}</h5>
								<p class="card-text">
									Date et Horaire:
									{{ passage.horaires }}<br>
								</p>
								<input type="button" value="Détails" class="btn btn-dark" id="modalOn_{{passage.performers.id}}">
							</div>
						</div>
						<div id="modalOverlay">
							<div class="card mockup" id="modalMockup_{{passage.performers.id}}">
								<img class="card-img-top" src="{{ asset('media/placeholder.jpg') }}" alt="placeholderPerformer">
								<div class="card-body">
									<h2 class="card-title">{{passage.performers.nom}}</h2>
									<h3 class="card-text">{{passage.performers.typeMusique}}</h3>
									<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Découvrez</a>
								</div>
								<div class="button-container">
									<input type="button" value="Fermer" class="btn btn-dark" id="modalOff">
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>No passages available for this scene.</p>
				{% endif %}
			</div>
		{% endfor %}
	</section>


{% endblock %}
